

body{
background-color:rgb(240,240,240);
}

.background
{

background-color:rgb(245,245,245);
border: 1pt solid #000000;
width:768px;
height:1200px;
margin-left: auto;
margin-right: auto;
padding-top:0px;
margin-top:0px;

}
.title{

font-family:"Arial", Helvetica, sans-serif;
font-size:30px;
color:rgb(0,0,0);

}

.imageholder{
background:transparent;
position:relative;
height:60px;
width:100%;
overflow:hidden;
}

.banner{
position:fixed;
margin:20px;
width:768px;
padding:0px;
margin:0px;
}

.top{
margin:0px 0px 0px 0px;
position:relative;
top:40px;
font-family:"Georgia", Georgia, serif;
font-size:30px;
color:rgb(0,0,0);
}


.navbar{

background-color:rgb(10,10,10);
height:40px;
width:100%;
color:white;
text-align:left;
position:relative;
margin-left:auto;

}

ul
{
list-style-type:none;
margin:0;
text-align:left;
margin-left:auto;
padding-left:0;
padding:0px;
position:relative;
}

li
{

color:white;
font-family:"Georgia", Georgia, serif;
font-size:15px;
margin-left:auto;
display:inline-block;
}

a.banner:visited{
color:white;
text-decoration:none;
}

a.banner:hover{
color:white;
text-decoration:none;
}
a.banner:link{
color:white;
text-decoration:none;
}

a.banner:active
{
color:white;
text-decoration:none;
}

